html {
  scroll-behavior: smooth;
}

/* Modifcación del navbar */
.navbar-brand img {
  width: 1.5rem;
}

#tit-logo {
  font-size: 1rem;
  padding-left: 0.5rem;
  opacity: 90%;
}
.navbar a.nav-link {
  color: #fff;
  opacity: 85%;
}

nav.navbar {
  padding: 0;
}

.navbar {
  background-color: transparent !important;
  margin-top: -3rem !important;
}

/* Sección quienes somos */
#quienes-somos {
  background-color: #000;
  color: #ffffffd8;
  padding: 2rem 10%;
}

.secc-fabico {
  background-color: rgb(13,202,240);
  color: #fff;
  text-align: center;
}
